@font-face {
	font-family: "Biotif Regular";
	src: url('../src/font/Biotif-Regular.ttf');
}


html *{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}